<%- include('components/header'); %>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
              <cite><%= title %></cite></a>
          </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                        <button class="layui-btn" onclick="xadmin.open('添加用户','./admin-add.html',600,400)"><i class="layui-icon"></i>添加</button>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>
                                        <input lay-filter="checkboxAll" type="checkbox" name="checkboxAll" lay-skin="primary">
                                    </th>
                                    <th>ID</th>
                                    <th>登录名</th>
                                    <th>加入时间</th>
                                    <th>操作</th>
                            </thead>
                            <tbody>
                                <% admins.forEach(e=> {%>
                                <tr>
                                    <td>
                                        <input lay-filter="checkboxItem" type="checkbox" name="checkboxItem" lay-skin="primary">
                                    </td>
                                    <td>
                                        <%= e.id_ %>
                                    </td>
                                    <td>
                                        <%= e.username %>
                                    </td>
                                    <td>
                                        <%= fun.filterTime(e.createAt) %>
                                    </td>
                                    <td class="td-manage">
                                        <a title="删除" onclick="member_del(this,<%= e.id_ %>)" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i>
                                    </a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                <a class="prev" href="">&lt;&lt;</a>
                                <a class="num" href="">1</a>
                                <span class="current">2</span>
                                <a class="num" href="">3</a>
                                <a class="num" href="">489</a>
                                <a class="next" href="">&gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
layui.use(['laydate', 'form'], function() {
    var laydate = layui.laydate;
    var form = layui.form;
    layui.code
    form.on('checkbox(checkboxItem)', function(data) {
        checkboxItem(form)
    });
    form.on('checkbox(checkboxAll)', function(data) {
        checkboxAll(form)
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
        elem: '#end' //指定元素
    });
});

/*用户-删除*/
function member_del(obj, id) {

    layer.confirm('确认要删除吗？', function(index) {
        get({
            url: '/apis/admin/del',
            data: {
                id
            },
            successfn: (res) => {
                if (res.code == 0) {
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', { icon: 1, time: 1000 });
                    top.location.reload()
                } else {
                    layer.msg('删除失败!', { icon: 1, time: 1000 });
                }
            }
        })
    });
}


function delAll(argument) {
    var data = tableCheck.getData();
    layer.confirm('确认要删除吗？' + data, function(index) {
        //捉到所有被选中的，发异步进行删除
        layer.msg('删除成功', { icon: 1 });
        $(".layui-form-checked").not('.header').parents('tr').remove();
    });
}
</script>
<%- include('components/footer'); %>